repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: bump-version
        name: bump-version
        entry: .venv/bin/bump-my-version bump patch --allow-dirty
        language: system
        pass_filenames: false
        stages: [commit]
      - id: stage-version
        name: stage-version
        entry: git add version.txt pyproject.toml
        language: system
        pass_filenames: false
        stages: [post-commit]
